<div class="container">
  <div class="row">
    <div class="col-12 align-self-center">
      
      <div class="jumbotron">
        <h1 class="display-3">{{ page }}</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
      </div>

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Add Item</label>
          <input type="text"
            class="form-control"
            id="item"
            aria-describedby="item"
            placeholder="item">
          <small id="item"
            class="form-text text-muted">
            You are excited to do this.
          </small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
  </div>
</div>
